:root{
    --h1:#1b2f90;
    --bg:#f9f9f9f6;
      --t:0.6s;
}
/*通配*/
body{background: orange;}
.center{position: absolute;left: 50%;transform: translate(-50%,0);z-index: 1;}/*居中*/
/*dog的轮廓*/
.dog{width: 300px; height:400px; position: relative; }
/*头部*/
.forhead{width: 102px; height: 48px; background: var(--bg);
        position: absolute;
        left: 50%;
        /*transform: translate(-50%,0);*/
        border-radius: 51px / 40px 40px 8px 8px ;
    }
/*脸部*/
.face{
      width: 110px;
      height: 60px;
      background:  var(--bg);
      top: 20px;
      /*! transform: translate(86%,67%); */
      border-radius: 50%;
}
/*下巴*/
.chin{
      z-index: 1;
      width: 104px;
      height: 36px;
      background:  var(--bg);
      top: 60px;
      border-radius: 52px / 0px 0px 36px 36px; 
}
/*耳朵*/
.ear{
     
      position: absolute;
      width: 16px;
      height: 70px;
      background:  var(--h1);
      left:50%;
      top:34px;
      border-radius:50%; 
      transform: translate(-42px,0) rotate(12deg);
      z-index: 0;
      animation: rotate var(--t) ease-out infinite;
      
    
}
.ear.right{
      transform: scale(-1,1) translate(-28px,0) rotate(12deg);
  animation: rotate-r var(--t) ease-out infinite;
}
/*胎记*/
.birthmark{
      z-index: 1;
      position: absolute;
      width: 30px;
      height: 36px;
      background:  var(--h1);
      left:198px;
      top:17px;
      border-radius:15px / 17px 23px 2px 13px; 
      transform: translate(-28px,0) rotate(-7deg);
      
      
      
}
/*眼睛*/
.eye{
      z-index: 2;
      position: absolute;
      width: 24px;
      height: 24px;
      background:  var(--bg);
      left:45%;
      top:26px;
      border-radius:12px / 24px 12px 12px 2px; 
      transform: translate(-33px,0) rotate(-1deg);
      box-shadow: 1px 0px 0px 0px #000 inset,-1px 0px 5px 1px #ddd;
      overflow: hidden;
      
      
      
}
.eye.right{
      transform: scale(-1,1) translate(-42px,0) rotate(-1deg);
       box-shadow: 1px 0px 0px 0px #000 inset;
      overflow: hidden;
      animation: eye-r var(--t) ease-out infinite;
}

/*眼球*/
.pupil{
      position: absolute;
      left: 3px;
      top: 1px;
      width:26px;
      height:26px;
      background: #e79101;
      border-radius: 50%;
      box-shadow: 0 0 8px 0 #000 inset;
      animation: eye var(--t) ease-out infinite;
      
}
.pupil:before{
      width: 18px;
      height:18px;
      background: #000;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%,-50%);
      content:'';
      
}
.pupil:after{
      width: 5px;
      height:5px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 28%;
      top:25%;
      transform: translate(-50%,-50%);
      content:'';
      
}
.nose{
      width:62px;
      height:32px;
      top: 43px;
      background: #000;
      border-radius: 31px/ 10px 10px 22px 22px;
      z-index:3;
}


.nose:before{
      content:'';
      width:62px;
      height:15px;
      top:0.5px;
      position: absolute;
      background: linear-gradient(30deg,#fff 0%,#fff 8%,#b1aeb1 50%,#544d53 100%);
      border-radius: 30px/ 9px 9px 6px 6px;
  
}

.nostril{
      width:15px;
      height:4px;
      top: 22px;
      left: 47%;
      transform:translate(-18px,0) rotate(30deg);
      position: absolute;
      background: linear-gradient(0deg,#363035 0%,#000 100%);
      border-radius: 31px/ 10px 10px 21px 22px;
      z-index: 2;
      animation: nostril var(--t) ease-out infinite;
    
}
.nostril.right{
       transform:translate(7px,0) rotate(-30deg);
      animation: nostril-r var(--t) ease-out infinite;
   
}
.mouth{
       width:68px;
      height:27px;
      background: #671316;
      border-radius: 34px/ 0px 0px 27px 27px;
      z-index: 1;
      box-shadow: 0px 1px 1px 0 #000;
      top:68px;
      animation: mouth var(--t) ease-out infinite;
}

.mouth:before{
      width:68px;
      height:8px;
      background:var(--bg);
      border-radius: 34px/ 0px 0px 10px 10px;
      content: '';
      position: absolute;
      z-index: 50;
      left: 0;
      top: 0;
}
.teen{
      width:8px;
      height:3px;
      background:var(--bg);
      border-radius: 34px/ 0px 0px 8px 0px;
      left:36%;
      top:7px;
      position: absolute;  
      z-index: 5;
}
.teen.right{
      
      left:52%;
}
.tongue{
      width:34px;
      height:14px;
      background:#a2504f;
      border-radius: 17px/ 0px 0px 7px 7px;
      top:5px;
      z-index: 0;
      position: absolute;  
      animation:tongue var(--t) ease-out infinite;
}
.body{
       width:66px;
      height:70px;
      background:linear-gradient(0deg,#ddd 0%,#ddd 1%,#fff 10%,#fff 100%);;
      border-radius: 50%;
      top:89px;
      z-index: -1;
      position: absolute;  
      
      
}
.arm{
       width:26px;
      height:40px;
      background:var(--bg);
      border-radius: 13px / 20px 0 14px 20px;
      left: 149px;
      top:96px;
      z-index: -5;
      position: absolute;
      transform: translate(-43px,0) rotate(21deg);
      
}
.arm:before{
      position: absolute;
      right:10px;
      top: 14px;
      border-radius: 5px / 10px 0px 0px 10px;
      content: '';
      width: 5px;
      height: 20px;
      box-shadow:-1px 0px 0 0 rgba(200,200,200,0.5);
      transform: rotate(-5deg);
}
.arm.right{
      transform: translate(20px,0) rotate(-21deg) scale(-1,1);
}

.leg{
      width:29px;
      height:59px;
      background:linear-gradient(-90deg,#ddd 0%,#ddd 10%,#fff 20%,#fff 100%);
      border-radius: 15px / 5px 5px 15px 45px;
      left: 39%;
      top:126px;
      position: absolute;
      z-index: -8;
      
      
}
.leg.right{
      transform: scale(-1,1) translate(-39px,0);
}
.foot{
       width:29px;
      height:15px;
      background:linear-gradient(-120deg,#eee 0%,#eee 20%,#fff 20%,#fff 100%);
      border-radius: 15px / 10px 10px 5px 5px;
      left: 2px;
      top:50px;
      position: absolute;
      z-index: -10;
      
}

@keyframes rotate{
      0%{transform: translate(-42px,0) rotate(10deg);}
      50%{ transform: translate(-42px,0) rotate(30deg);}
      100%{ transform: translate(-42px,0) rotate(10deg);}
}


@keyframes rotate-r{
      0%{ transform: scale(-1,1) translate(-28px,0) rotate(10deg);}
      50%{ transform: scale(-1,1) translate(-28px,0) rotate(30deg);}
      100%{ transform: scale(-1,1) translate(-28px,0) rotate(10deg);}
}
@keyframes eye{

       0%{left: 3px;}
      50%{ left: 5px;}
      100%{ left: 3px;}

}
@keyframes tongue{

       0%{height: : 14px;}
      50%{ height: 20px;}
      100%{ height: 14px;}

}
@keyframes nostril{
       0%{width:15px;height:4px;}
      50%{  width:16px;height:5px;}
      100%{ width:15px;height:4px;}  
}
@keyframes nostril-r{
       0%{width:15px;height:4px;}
      50%{  width:16px;height:5px;}
      100%{ width:15px;height:4px;}  
}
@keyframes mouth{
       0%{height:27px;}
      50%{ height:20px;}
      100%{height:27px;}  
}



